# Should update .dockerignore as well
.DS_Store
*.ignore*
.env
node_modules
.idea
data
stacks
tmp
/private

# Git only
frontend-dist

test-results/.last-run.json
test-results/git-sources-Git-Sources-Ma-bfecc-ify-and-delete-a-git-source-chromium/error-context.md
playwright-report/index.html
